{% extends 'base.html' %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <h1>Статьи</h1>
        {% for article in articles %}
            <h2>{{ article['title'] }}</h2>
            <blockquote>{{ article['article_text'] }}</blockquote>
            <form action="{{ url_for('lab5.delete', article_id=article['id']) }}" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
            <form action="{{ url_for('lab5.edit', article_id=article['id']) }}" method="get" style="display:inline;">
                <button type="submit">Редактировать</button>
            </form>
        {% endfor %}
    {% endif %}
{% endblock %} 