{% extends 'base.html' %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Изменить имя и пароль</h1>
    
    <form action="/lab5/update" method="post">
        <div>
            Новое имя:<br>
            <input type="text" name="name">
        </div>
        <div>
            Новый пароль:<br>
            <input type="password" name="password" placeholder="Оставьте пустым, если не менять">
        </div>
        <div>
            Подтвердите пароль:<br>
            <input type="password" name="confirm">
        </div>
        {% if error %}
            <p style="color:red">{{ error }}</p>
        {% endif %}
        <button type="submit">Сохранить</button>
        <a href="/lab5/">Отмена</a>
    </form>
{% endblock %}