{% extends 'base.html' %}

{% block lab %}Лабораторная работа 5{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/lab5/lab5.css')}}">
{% endblock %}
{% block main %}
    <h1>База знаний</h1>
        <div class="menu">
        <a href="/lab5/list">Список статей</a>
        <a href="/lab5/create">Создать статью</a>
        <a href="/lab5/login">Войти</a>
        <a href="/lab5/register">Регистрация</a>

        <div class="user">{{ login }}</div>
        </div>
{% endblock %}