{% extends 'base.html' %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Список пользователь</h1>
    {% if users %}
        <table border="1" width="100%">
            <tr bgcolor="#f0f0f0">
                <th>ID</th>
                <th>Логин</th>
                <th>Имя</th>
            </tr>
            
            {% for user in users %}
            <tr>
                <td align="center">{{ user['id'] }}</td>
                <td>{{ user['login'] }}</td>
                <td>{{ user['full_name'] or user['name'] or 'Не указано' }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Нет зарегистрированных пользователей</p>
    {% endif %}
{% endblock %}