
      body { font-family: sans-serif; }
      .menu{
        background: #c6e3ef;
        padding: 15px;
        display: flex;
        gap: 25px;
        align-items: center;
        font-size: 16px;
      }
      .menu a{
        padding: 6px 12px;
        background: #fff;
        border-radius: 5px;
        text-decoration: none;
        border: 1px solid #ccc;
      }
      .user {
        margin-left: auto;
        font-weight: bold;
      }