
      body { font-family: sans-serif; }
      .menu{
        background: #c6e3ef;
        padding: 15px;
        display: flex;
        gap: 25px;
        align-items: center;
        font-size: 16px;
      }
      .menu a{
        padding: 6px 12px;
        background: #fff;
        border-radius: 5px;
        text-decoration: none;
        border: 1px solid #ccc;
      }
      .user {
        margin-left: auto;
        font-weight: bold;
      }

form {
  
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
}

/* Заголовок */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Поля ввода */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Кнопка отправки */
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Кнопка при наведении */
button:hover {
    background-color: #45a049;
}
